:root {
  --bg-dark: #081d1e;
  --bg-mid: #034e4f;
  --bg-light: #315051;
  --bg-lighter: #2a3c3c;
  --text-light: #f5f5e9;
  --text-dark: #444;
  --gradient-main: linear-gradient(to top left, var(--bg-dark), var(--bg-mid));
  --gradient-header: linear-gradient(
    to top right,
    var(--bg-light),
    var(--bg-lighter)
  );
}

body {
  opacity: 0.9;
  background-image: radial-gradient(#034e4f 1.3px, #081d1e 1.3px);
  background-size: 26px 26px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-light);
  line-height: 2rem;
  font-size: 1rem;
  margin: 0%;
}

/* Basic styling for all buttons. Put it high, so it can easily be overidden*/
.btn {
  height: auto;
  width: 100%;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  cursor: pointer;
  background-color: var(--text-light);
  color: var(--text-dark);
  border: none;
  font-weight: bold;
  transition: all 0.2s;
}
.btn:hover {
  transform: scale(105%);
}

.header {
  align-content: center;
  min-height: 10vh;
  background: var(--gradient-header);
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.side-bar {
  position: sticky;
  top: 0;
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  background: var(--gradient-header);
  padding: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0px 10px 5px 10px rgba(0, 0, 0, 0.26);
  min-height: 100%;
}

.game-status,
.stats,
.options-section {
  background-color: #315051;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.options-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.btn-settings {
  padding: 5px;
  margin: 5% 0%;
  max-width: 80px;
  flex: 1;
  font-size: 1rem;
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin: 5% 2% 5% 3%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  text-align: center;
  color: var(--text-light);
  font-style: italic;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(48px, 80px)); */
  align-content: start;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-play {
  aspect-ratio: 1;
  max-width: 60px;
  max-height: 60px;
  opacity: 0;
  box-shadow: inset 0px 0px 9px 11px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.btn-visible {
  opacity: 1;
}

/* Class gets added when wrongly clicked */
.wrong-button,
.wrong-button:hover {
  transform: rotate3d(0, 1, 0, -180deg);
  background-color: red;
}

/* Class gets added when right clicked */
.right-button,
.right-button:hover {
  transform: rotate3d(0, 1, 0, -180deg);
  background-color: green;
}

.wrong-button span,
.right-button span {
  display: inline-block;
  transform: rotate3d(0, 1, 0, 180deg);
  color: var(--text-light);
}

/* Modal window styling */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: #315051;
  opacity: 1;
  background-image:
    radial-gradient(#081d1e 2px, transparent 2px),
    radial-gradient(#081d1e 2px, #315051 2px);
  background-size: 80px 80px;
  background-position:
    0 0,
    40px 40px;

  font-size: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  border: none;
  text-align: center;
}

.modal-btn {
  padding: 5px;
  margin: 5% 0%;
  max-width: 80px;
  flex: 1;
  font-size: 1rem;
}
